@CHARSET "UTF-8";

* {margin: 0px; padding: 0px;}

h1 {
	position: relative;
	top: 8vh;
	text-align: center;
	font: bold 3vw Arial, Helvetica, sans-serif;
}

ul {
	display: inline-block;
	margin-bottom: 5vw;
	list-style-type: none;
	position: relative;
	left: 35vw;
	top: 15vh;
	width: 30vw;
	text-align: center;
	font: 2.5vw Arial, Helvetica, sans-serif;
}
img {
	width: 1em;
	height: 1em;
	visibility: hidden;
	float: right;
	margin-top: 0.075em;
	position: absolute;
	right: 1vw;
	z-index: -1;
}
div {
	display: none;
	font-size: 1.5vw;
}
div div {
	font-size: 1vw;
}
a {
	color: #000000;
	text-decoration: none;
}
li:hover {
	background-color: rgba(0, 0, 0, 0.075);
}

#iframe {
	display: none;
	width: 45vw;
	height: 40vw;
	position: absolute;
	right: 10vw;
	top: 20vh;
	text-align: center;
}
h2#iframeTitle {
	font: bold 2vw Arial, Helvetica, sans-serif;
	margin-bottom: 1vw;
}
iframe {
	display: inline-block;
	width: 95%;
	height: 100%;
	border: 0.15625vw solid black;
	border-radius: 5px;
}